body {
	background: #83AD83;
	width: 90%;
	padding: 1em;
}

/*Thats my suggestion but you can change it if you want*/
img {
/*	background:white;*/
	padding:1em;
/*	box-shadow: 2px 2px 2px 2px black;*/
}

h1 {
	color:blue;
}


table{
	display: inline-block;
}

td{
	height: 134px;
	width: 100px;
}

button{
	height: 30px;
	width: 100px;
	font-weight:bold;
	background-color: green;
}

.buttonPosition{
	position: absolute; 
	bottom: -100px;

/*
table {
	border:2px black;
	border-radius:5px;
}

td {
	min-width: 2em;
	text-align: center;
	background: white;
}
*/