body {
	background: #83AD83;
	width: 90%;
	padding: 1em;
}

img {
	background:white;
	padding:1em;
	box-shadow: 2px 2px 2px 2px black;
}

h1 {
	color:blue;
}

table {
	border:2px black;
	border-radius:5px;
}

td {
	min-width: 2em;
	text-align: center;
	background: white;
}
