body {
	background: #83AD83;
	width: 90%;
	padding: 1em;
	text-align: center;
}

img {
	border: dotted black 1px;
	padding:1em;
	margin: auto;
}

h1 {
	color:blue;
}

table{
	display: inline-block;
}

td{
	height: 134px;
	width: 100px;
}

button{
	height: 30px;
	width: 100px;
	font-weight:bold;
	background-color: green;
}

.buttonPosition{
	position: absolute; 
	bottom: -100px;
}
